a:link{color:pink;}
a:visited{color:green;}
a:hover{color:red;}
a:active{color:blue;}

ol{list-style-type:upper-alpha;
margin-left:40px;}

body{
background-image:linear-gradient(#32a891,#e834eb)}

.primer-deseo{color:yellow;}